<main class="main">
  <div class="content">
    <div class="todo-container">
      <h1>Todo List</h1>
      <input [(ngModel)]="newTodo" placeholder="New Todo" />
      <button (click)="addTodo()">Add</button>
      <!-- show list -->
      <ul>
        <li *ngFor="let todo of todos">
          <input type="checkbox" [(ngModel)]="todo.isCompleted" (change)="toggleComplete(todo)"/>
          <span [ngClass]="{'completed': todo.isCompleted}">{{todo.title}}</span>
          <button (click)="deleteTodo(todo.id)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
</main>
<!-- <router-outlet /> -->
